@charset "utf-8";

@font-face {
    font-family: 'Champagne';
    src: url('cac_champagne.woff') format('.woff'),
        url('cac_champagne.tff') format('.tff');
}

@font-face {
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('.woff'),
        url('DobkinPlain.tff') format('.tff');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

/* Structual Style */
html {
    background-image: url('lake_background.png');
}

body {
    background-color: rgba(240, 250, 250, .63);
}

/* Heading Styles */
/* Navigation Styles */
/* Article Styles */
/* Aside Styles */
/* Blockquote Styles*/
/* Footer Styles */