@charset "utf-8";

@font-face {
    font-family: 'Champagne';
    src: url('cac_champagne.woff') format('.woff'),
        url('cac_champagne.tff') format('.tff');
}

@font-face {
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('.woff'),
        url('DobkinPlain.tff') format('.tff');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* This imports a google font and allows usage in the style rules */

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

/* Structual Style */
html {
    background-image: url('lake_background.png');
    background-attachment: fixed;
    background-position: center;
    font-family: Champagne;
    font-family: Dobkin;
    font-family: Monserrat, sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

/* This sets an image, fonts and colors for the entire document and aligns text */
/* Navigation Styles */
header nav {
    background-color: rgb(80, 120, 158);
    padding: 10px 0px 10px 0px;
}

header nav a:hover,
header nav a:focus {
    color: rgba(185, 26, 26, 0.7);
}

header nav a:visited,
header nav a:link {
    color: rgb(255, 132, 0);
    text-decoration: none;
}

#rightcol {
    background-color: rgb(80, 120, 158);
    color: rgb(255, 132, 0);
}

#rightcol nav ul {
    padding: 0px 8px 0px 0px;
    list-style-type: none;
    text-align: center;
}

#rightcol nav a {
    text-decoration: none;
    color: rgb(255, 132, 0);
}

/* This mostly sets the colors, padding and margins for the content on the right side of the web page since its in the id of rightcol */

/* Heading Styles */

#leftcol {
    color: rgb(255, 132, 0);
}
#leftcol p {
    text-align: left;
    margin: 20px 10px;
    color: rgb(255, 132, 0);
}
/* Article Styles */

/* Aside Styles */

aside {
    color: rgb(255, 132, 0);
    
}

aside ul {
    list-style-type: none;
    text-align: left;    
}


aside a:visited, aside a:link {
    color: rgb(132, 240, 0);
    text-decoration: none;
}

aside a:hover {
    color: rgb(250, 100, 0);
    font-size: 1.3em;
}
/* Blockquote Styles*/


/* Footer Styles */
footer {
    background-color: rgb(80, 120, 158);
    padding: 5px 0px 5px 0px;
    color: rgb(255, 132, 0);
}

/* This makes the text look different by it being in a different place on the page and having effects on certain anchors to other documents */