@charset "utf-8";

@font-face {
    font-family: 'Champagne';
    src: url('cac_champagne.woff') format('.woff'),
        url('cac_champagne.tff') format('.tff');
}

@font-face {
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('.woff'),
        url('DobkinPlain.tff') format('.tff');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

/* Structual Style */
html {
    background-image: url('lake_background.png');
    background-position: center;
    font-family: Champagne;
    font-family: Dobkin;
    font-family: Monserrat, sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

/* Navigation Styles */
header nav {
    background-color: rgb(80, 120, 158);
    padding: 10px 0px 10px 0px;
}

header nav a:hover,
header nav a:focus {
    color: rgba(185, 26, 26, 0.7);
}

header nav a:visited,
header nav a:link {
    color: rgba(158, 120, 80);
    text-decoration: none;
}

#rightcol {
    background-color: rgb(80, 120, 158);
}

#rightcol nav ul {
    padding: 0px 8px 0px 0px;
    list-style-type: none;
    text-align: center;
}

#rightcol nav a {
    text-decoration: none;
    color: rgb(158, 120, 80);
}

/* Heading Styles */
/* Article Styles */
/* Aside Styles */
/* Blockquote Styles*/
/* Footer Styles */